<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Тренування</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="components/header.html"></header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

    <div th:if="${showResponseForm}">
        <h1 th:text="${equation.showFullEquation()}"></h1>
        <h2 th:text="'Ваша відповідь: ' + ${equation.getUserAnswer()}"></h2>
        <h2 th:if="${equation.isCorrect()}" class="text-success">Вірно!</h2>
        <h2 th:unless="${equation.isCorrect()}" class="text-danger">Не вірно</h2>
        <a class="p-2" href="/"><-- На головну</a>
        <a class="p-2" href="/statistics">Статистика</a>
        <a class="p-2" href="/game/new">Нова задача --></a>
    </div>

    <div th:if="${showRequestForm}">
        <h1 th:text="${equation.showEquationBody()} + ' = ?'"></h1>
        <form th:action="@{/game/check}" method="post">
            <div class="m-2">
                <input type="number" step="any" name="userAnswer" required="" placeholder="Ваша відповідь"/>
                <input type="hidden" name="eqId" th:value="${equation.getId()}"/>
            </div>
            <input class="btn btn-outline-primary m-2" type="submit" value="Відповісти"/>
        </form>
    </div>

</div>

<footer th:insert="components/footer.html"></footer>
</body>
</html>