<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="components/header.html"></header>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Вітаємо на нашому веб-сайті, який призначений для удосконалення навичок з математичних розрахунків. Нажимайте кнопку нижче, щоб розпочати</h2>
    <form th:action="@{/game/new}" method="get" class="m-5">
        <input class="btn btn-outline-primary" type="submit" value="Почати тренування!"/>
    </form>
</div>
<footer th:insert="components/footer.html"></footer>
</body>
</html>