<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Налаштування</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script>
        function validation() {
            a = document.getElementById("password");
            b = document.getElementById("repeat");
            c = document.getElementById("submit");
            if (a.value != b.value) {
                c.disabled=true;
            } else {
                c.disabled=false;
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".btn-group").click(function(){
                $(this).button('toggle');
            });
        });
    </script>
</head>
<body class="text-center vsc-initialized">
<header th:insert="components/header.html"></header>
<!--div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Даний розділ знаходиться на стадії розробки</h2>
</div-->
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Змінити пароль</h1>
    <div class="alert alert-danger alert-dismissible fade show" th:if="${message2!=null}" th:text="${message2}"></div>
    <div class="alert alert-success alert-dismissible fade show text-center mx-auto" th:if="${message3!=null}" th:text="${message3}"></div>
    <form th:action="@{/settings}" method="post" class="m-2">
        <div class="m-2"><input type="password" name="oldPassword" required="" placeholder="Ваш старий пароль"/></div>
        <div class="m-2"><input id="password" type="password" name="password" placeholder="Ваш новий пароль" required="" oninput="validation()"/></div>
        <div class="m-2"><input id="repeat" type="password" placeholder="Повторіть пароль" required="" oninput="validation()"/></div>
        <button class="btn btn-primary m-2" type="submit" id="submit">Змінити пароль</button>
    </form>
    <!--h1 class="h3 mb-3 font-weight-normal">Виберіть складність</h1>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="easyOption" autocomplete="off" checked> Легкий
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="mediumOption" autocomplete="off"> Середній
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="hardOption" autocomplete="off"> Важкий
        </label>
    </div-->

</div>
<footer th:insert="components/footer.html"></footer>
</body>
</html>