<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="components/header.html"></header>
<div th:if="${message}" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 th:text="${message}"></h2>
</div>
<div th:if="${userEquations}" class="pricing-header mx-auto text-center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Вираз</th>
            <th scope="col">Ваша відповідь</th>
            <th scope="col">Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="elem : ${userEquations}">
            <td th:if="${elem.isCorrect()}" class="table-success" th:text="${elem.showFullEquation()}"></td>
            <td th:if="${elem.isCorrect()}" class="table-success" th:text="${elem.getUserAnswer()}"></td>
            <td th:if="${elem.isCorrect()}" class="table-success" th:text="${elem.getDate()}"></td>
            <td th:unless="${elem.isCorrect()}" class="table-danger"th:text="${elem.showFullEquation()}"></td>
            <td th:unless="${elem.isCorrect()}" class="table-danger" th:text="${elem.getUserAnswer()}"></td>
            <td th:unless="${elem.isCorrect()}" class="table-danger" th:text="${elem.getDate()}"></td>
        </tr>
        </tbody>
    </table>
    <a th:if="${loadMoreFields}" th:href="@{'/statistics/?size=' + ${size}}">Загрузити попередні результати</a>
</div>
<footer th:insert="components/footer.html"></footer>
</body>
</html>
